<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>EasyNote</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Our Custom CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
        integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
        crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
        integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
        crossorigin="anonymous"></script>

</head>

<body>
    <div class="wrapper">
        <!-- Sidebar -->
        <nav id='sidebar'>
            <div class="sidebar_header">
                <h3>
                    EasyNote
                </h3>
            </div>
            <ul class="list-unstyled components">
                <li>
                    <a href="{{url_for('create')}}">Add Note</a>
                </li>
                <li>
                    <a href="#">Calender</a>
                </li>
                <li>
                    <a href="study.html">Study</a>
                </li>
                <li>
                    <a href="{{url_for('analytics')}}">Research</a>
                </li>
            </ul>
            <div class="notes_list">
                <h4>
                    Notes List
                </h4>
            </div>
            <div class="list-unstyled components">
                {% for note in notes %}
                <li>
                    <a href="{{ url_for('edit', note_id=note['id']) }}">
                        <h5>{{ note['class'] }}</h5>
                        <h5>{{ note['title'] }}</h5>
                        <h6>{{ note['created'] }}</h6>
                    </a>
                </li>
                {% endfor %}

            </div>
        </nav>
        <div id="content">
            {% for message in get_flashed_messages() %}
            <div class="alert alert-danger">{{ message }}</div>
            {% endfor %}
            {% block content %} {% endblock %}
        </div>
    </div>
    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>

</body>

</html>