@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body{
    font-family: 'Poppins',sans-serif;
    background: #fafafa;
}
a, a:hover, a:focus{
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
.wrapper{
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar{
    background: #7386d5;
    color: #fff;
    transition: all 0.3s;
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}
#sidebar .sidebar_header {
    padding: 20px;
    background: #4c588f;
}

#sidebar ul.components {
    padding: 20px;
    border-bottom: 1px solid #47748b;
}


#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}
#sidebar div li a{
    padding: 20px;
    font-size: 1.1em;
    display: block;
}
#sidebar div li a:hover{
    color: #6a79b3;
    background: #fff;
}

#sidebar div a{
    font-size: 0.9em !important;
    padding-left: 10px !important;
    background: #6d7fcc;
}
#sidebar .notes_list{
    padding: 20px;
    background: #6675b9;
}
.study {
    background: #5ae619;
    border: none;
    border-radius: 20px;
    color: #ffffff;
    cursor: pointer;
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 1em;
    padding: 0.75em 0;
    width: 100%;


}
.study:hover {
    background: #1c7705;
}